<div class="row row-cards-pf border">
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            <span class="pficon pficon-topology"></span> {{ playerCharacter.characterName }} Level: {{ playerCharacter.characterLevel }}
          </h2>
              <p>
                <b>Character Name: </b>{{ playerCharacter.characterName }} <br />
                <b>Class: </b> {{ playerCharacter.characterClass }} <br />
                <b>Background: </b> {{ playerCharacter.characterBackground }} <br />
                <b>Faction:</b> {{ playerCharacter.characterFaction }} <br />
                <b>Race: </b> {{ playerCharacter.characterRace }} <br />
                <b>Alignment: </b> {{ playerCharacter.characterAllignment }} <br />
                <b>Strength: </b>{{ playerCharacter.characterStrength }} <br />
                <b>Dexterity: </b>{{ playerCharacter.characterDexterity }} <br />
                <b>Constitution: </b> {{ playerCharacter.characterConstitution }} <br />
                <b>Intelligence:</b>{{ playerCharacter.characterIntelligence }}<br />
                <b>Wisdom: </b>{{ playerCharacter.characterWisdom }} <br />
                <b>Charisma: </b>{{ playerCharacter.characterCharisma }} <br />
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Skills
          </h2>
              <p>
                <b>Acrobatics: </b>{{ playerCharacter.characterDexterity - 14}} <br />
                <b>Animal Handling: </b> {{ playerCharacter.characterWisdom - 14}} <br />
                <b>Arcana: </b> {{ playerCharacter.characterIntelligence - 14}} <br />
                <b>Athletics:</b> {{ playerCharacter.characterStrength - 14}} <br />
                <b>Deception: </b> {{ playerCharacter.characterCharisma - 14}} <br />
                <b>History: </b> {{ playerCharacter.characterIntelligence - 14}} <br />
                <b>Insight: </b>{{ playerCharacter.characterWisdom - 14}} <br />
                <b>Intimidation: </b>{{ playerCharacter.characterCharisma - 14}} <br />
                <b>Investigation: </b> {{ playerCharacter.characterIntelligence - 14}} <br />
                <b>Medicine:</b>{{ playerCharacter.characterWisdom - 14}}<br />
                <b>Nature: </b>{{ playerCharacter.characterIntelligence - 14}} <br />
                <b>Perception: </b>{{ playerCharacter.characterWisdom - 14}} <br />
                <b>Performance: </b>{{ playerCharacter.characterCharisma - 14 }} <br />
                <b>Persuasion: </b>{{ playerCharacter.characterCharisma - 14}} <br />
                <b>Religion: </b> {{ playerCharacter.characterIntelligence - 14}} <br />
                <b>Slight of Hand:</b>{{ playerCharacter.characterDexterity - 14}}<br />
                <b>Stealth: </b>{{ playerCharacter.characterDexterity - 14 }} <br />
                <b>Survival: </b>{{ playerCharacter.characterWisdom - 14}} <br />
            </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
              <span class="fa fa-shield"></span>Health
          </h2>
          <b>Current Hit Points: </b>{{ playerCharacter.characterCurrentHitPoint}} <br />
          <b>Total Hit Points: </b> {{ playerCharacter.characterTotalHitPoints }} <br />
        </div>
      </div>
    </div>
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Stats
          </h2>
          <b>Armor Class: </b>{{ playerCharacter.characterArmorClass }} <br />
          <b>Initiative; </b> {{ playerCharacter.characterInitiative }} <br />
          <b>Speed: </b> {{ playerCharacter.characterSpeed }} <br />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 col-md-3">
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Spells
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Experience Points: {{ playerCharacter.characterExperience}}
          </h2>
        </div>
      </div>
    </div>
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Money
          </h2>
          Copper: <br />
          Silver: <br />
          Gold: <br />
          Plat: <br />
        </div>
      </div>
    </div>
    <div class="card-pf card-pf-view card-pf-view-xs">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <h2 class="card-pf-title">
            Items: No Items
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
