.flexContainer{
  display: flex; /* or inline-flex */
  flex-direction: column;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  width: 22em;
}
.flexbutton{
  display: flex;
  justify-content: flex-end;
  width: 22em;
}
.textWidth{
  width: 20;
}
.alertWidth{
  width: 40em;
  padding-left: 2em;
}
.margin {
  margin: 1em;
}
