<h1 class="text-center">Create New Character Page</h1>
<form class="container" style="width:100%">
    <div id="left" class="paddingleft1" style="float:left; width:50%;">
      <div class ="field flexbox margin">
        <label for="characterName"> Character Name: </label>
        <input name="characterName" #newCharacterName>
      </div>
      <div class ="field flexbox margin">
        <label for="characterClass" class="labelWidth"> Class:&ensp;</label>
        <!---create a drop down to select from-->
        <select class="combobox form-control padComboBox" [(ngModel)]="selectedClass" name="selectClass">
          <option value="" selected="selected">Select a Class</option>
          <option value="Barbarian">Barbarian</option>
          <option value="Bard">Bard</option>
          <option value="Cleric">Cleric</option>
          <option value="Druid">Druid</option>
          <option value="Fighter">Fighter</option>
          <option value="Monk">Monk</option>
          <option value="Paladin">Paladin</option>
          <option value="Ranger">Ranger</option>
          <option value="Rogue">Rogue</option>
          <option value="Sorcerer">Sorcerer</option>
          <option value="Wizard">Wizard</option>
        </select>
      </div>
      <div class ="field flexbox margin">
        <label for="background" class="labelWidth"> Background:&ensp;</label>
        <!---create a drop down to select from-->
        <select class="combobox form-control padComboBox" [(ngModel)]="selectedBackground" name="selectBackground">
          <option value="" selected="selected">Select a Background:</option>
          <option value="Acolyte">Acolyte</option>
          <option value="Charlatan">Charlatan</option>
          <option value="Criminal">Criminal</option>
          <option value="Entertainer">Entertainer</option>
          <option value="Folk Hero">Folk Hero</option>
          <option value="Guild Artisan">Guild Artisan</option>
          <option value="Hermit">Hermit</option>
          <option value="Noble">Noble</option>
          <option value="Outlander">Outlander</option>
          <option value="Sage">Sage</option>
          <option value="Sailor">Sailor</option>
          <option value="Soldier">Soldier</option>
          <option value="Urchin">Urchin</option>
        </select>
      </div>
      <div class ="field flexbox margin">
        <label for="faction" class="labelWidth"> Faction: &ensp;</label>
        <select class="combobox form-control padComboBox" [(ngModel)]="selectedFaction" name="selectFaction">
          <option value="" selected="selected">Select a Faction:</option>
          <option value="Harpers">The Harpers</option>
          <option value="Gauntlet">The Order of the Gauntlet</option>
          <option value="Emeralds">The Emerald Enclaves</option>
          <option value="LordsAlliance">The Lords Alliance</option>
          <option value="Zhentarim">The Zhentarim</option>
        </select>
      </div>
      <div class ="field flexbox margin">
        <label for="race" class="labelWidth"> Race: &ensp;</label>
          <select class="combobox form-control padComboBox" [(ngModel)]="selectedRace" name="selectRace">
            <option value="" selected="selected">Select a Race:</option>
            <option value="Dwarves">Dwarves</option>
            <option value="Elves">Elves</option>
            <option value="Gnomes">Gnomes</option>
            <option value="Half-Elves">Half-Elves</option>
            <option value="Half-Orcs">Half-Orcs</option>
            <option value="Halflings">Halflings</option>
            <option value="Humans">Humans</option>
          </select>
      </div>
      <div class ="field flexbox margin">
        <label  for="alignment" class="labelWidth"> Alignment: &ensp;</label>
        <!---create a drop down to select from-->
        <select class="combobox form-control padComboBox" [(ngModel)]="selectedAlignment" name="selectAlignment">
          <option value="" selected="selected">Select Alignment:</option>
          <option value="Lawful Good">Lawful Good</option>
          <option value="Lawful Neutral">Lawful Neutral</option>
          <option value="Lawful Evil">Lawful Evil</option>
          <option value="Neutral Good">Neutral Good</option>
          <option value="Neutral">Neutral</option>
          <option value="Neutral Evil">Neutral Evil</option>
          <option value="Chaotic Good">Chaotic Good</option>
          <option value="Chaotic Neutral">Chaotic Neutral</option>
          <option value="Chaotic Evil">Chaotic Evil</option>
      </select>
      </div>
  </div>
  <div id="right" class="paddingleft2" style="float:right; width:50%;">
    <div class ="field flexbox margin">
      <label for="Strength"> Strength: </label>
      <input name="characterStrength" #newCharacterStrength>
    </div>
    <div class ="field flexbox margin">
      <label for="characterDexterity"> Dexterity: </label>
      <!---create a drop down to select from-->
      <input name="characterDexterity" #newCharacterDexterity>
    </div>
    <div class ="field flexbox margin">
      <label for="characterConstitution"> Constitution: </label>
      <!---create a drop down to select from-->
      <input name="characterConstitution" #newCharacterConstitution>
    </div>
    <div class ="field flexbox margin">
      <label for="characterIntelligence"> Intelligence:</label>
      <input name="characterIntelligence" #newCharacterIntelligence>
    </div>
    <div class ="field flexbox margin">
      <label for="characterWisdom"> Wisdom: </label>
      <input name="characterWisdom" #newCharacterWisdom>
    </div>
    <div class ="field flexbox margin">
      <label  for="characterCharisma"> Charisma: </label>
      <!---create a drop down to select from-->
      <input name="characterCharisma" #newCharacterCharisma>
    </div>
  </div>
</form>

<div class="text-center">
  <div>
    <button (click)="cancel()" class="btn btn-secondary margin"> Cancel</button>
    <button (click)="confirm(newCharacterName, selectedClass, selectedBackground, selectedFaction,
    selectedRace, selectedAlignment, newCharacterStrength, newCharacterDexterity, newCharacterConstitution,
    newCharacterIntelligence, newCharacterWisdom, newCharacterCharisma )" class="btn btn-primary margin"> Confirm</button>
  </div>
  <div class="alertWidth">
    <div *ngIf="passError" class="alert alert-danger" role="alert">
      <span class="pficon pficon-error-circle-o"></span>
      <strong>Invalid!</strong> Please provide acceptable character information
    </div>
  </div>
</div>

<div class="alertWidth">
  <div *ngIf="er" class="alert alert-danger alert-dismissable" role="alert">
    <span class="pficon pficon-error-circle-o"></span>
    <strong>Invalid!</strong> {{ errorMessage }}
  </div>
</div>

<div>
  <button (click)="SPELLS()" class="btn btn-secondary margin"> SPELLS</button>
</div>
