.flexbox {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
.flexbutton{
  display: flex;
  justify-content: flex-end;
  width: 22em;
}
.alertWidth{
  width: 80em;
  padding-left: 40em;
}
.paddingleft1{
  padding-left: 25em;
}

.padComboBox{
  padding-left: 2em;
}

.paddingleft2{
  padding-left: 10em;
}
.margin {
  margin: 1em;
}
