<h1 class="text-center">Create New Character Page</h1>
<form class="container" style="width:100%">
    <div id="left" class="paddingleft1" style="float:left; width:50%;">
      <div class ="field flexbox margin">
        <label for="characterName"> Character Name: </label>
        <input name="characterName" #newCharacterName>
      </div>
      <div class ="field flexbox margin">
        <label for="characterClass"> Class: </label>
        <!---create a drop down to select from-->
        <input name="characterClass" #newCharacterClass>
      </div>
      <div class ="field flexbox margin">
        <label for="background"> Background: </label>
        <!---create a drop down to select from-->
        <input name="background" #newBackground>
      </div>
      <div class ="field flexbox margin">
        <label for="faction"> Faction:</label>
        <input name="faction" #newFaction>
      </div>
      <div class ="field flexbox margin">
        <label for="race"> Race: </label>
        <input name="race" #newRace>
      </div>
      <div class ="field flexbox margin">
        <label  for="alignment"> Alignment: </label>
        <!---create a drop down to select from-->
        <input name="alignment" #newAlignment>
      </div>
  </div>
  <div id="right" class="paddingleft2" style="float:right; width:50%;">
    <div class ="field flexbox margin">
      <label for="Strength"> Strength: </label>
      <input name="characterStrength" #newCharacterStrength>
    </div>
    <div class ="field flexbox margin">
      <label for="characterDexterity"> Dexterity: </label>
      <!---create a drop down to select from-->
      <input name="characterDexterity" #newCharacterDexterity>
    </div>
    <div class ="field flexbox margin">
      <label for="characterConstitution"> Constitution: </label>
      <!---create a drop down to select from-->
      <input name="characterConstitution" #newCharacterConstitution>
    </div>
    <div class ="field flexbox margin">
      <label for="characterIntelligence"> Intelligence:</label>
      <input name="characterIntelligence" #newCharacterIntelligence>
    </div>
    <div class ="field flexbox margin">
      <label for="characterWisdom"> Wisdom: </label>
      <input name="characterWisdom" #newCharacterWisdom>
    </div>
    <div class ="field flexbox margin">
      <label  for="characterCharisma"> Charisma: </label>
      <!---create a drop down to select from-->
      <input name="characterCharisma" #newCharacterCharisma>
    </div>
  </div>
</form>

<div class="text-center">
  <div>
    <button (click)="cancel()" class="btn btn-secondary margin"> Cancel</button>
    <button (click)="confirm(newCharacterName, newCharacterClass, newBackground, newFaction,
    newRace, newAlignment, newCharacterStrength, newCharacterDexterity, newCharacterConstitution,
    newCharacterIntelligence, newCharacterWisdom, newCharacterCharisma )" class="btn btn-primary margin"> Confirm</button>
  </div>
  <div class="alertWidth">
    <div *ngIf="passError" class="alert alert-danger" role="alert">
      <span class="pficon pficon-error-circle-o"></span>
      <strong>Invalid!</strong> Please provide acceptable character information
    </div>
  </div>
</div>

<div class="alertWidth">
  <div *ngIf="er" class="alert alert-danger alert-dismissable" role="alert">
    <span class="pficon pficon-error-circle-o"></span>
    <strong>Invalid!</strong> {{ errorMessage }}
  </div>
</div>
