<h1 class="text-center">Login Page</h1>
<form class="paddingleft">
  <div class ="field flexbox margin">
    <label for="username"> Username: </label>
    <input name="username" #newUsername>
  </div>
  <div class ="field flexbox margin">
    <label for="password"> Password:</label>
    <input type="password" name="password" #newPassword
      onkeydown = "if (event.keyCode == 13)
                        document.getElementById('login').click()" >
  </div>
  <div class="flexbutton">
    <form>
      <button (click)="newUser()" class="btn btn-secondary margin"> Create new user</button>
    </form>
    <form>
      <button id="login" (click)="login(newUsername, newPassword)" class="btn btn-primary margin"> Login</button>
    </form>
  </div>
</form>
<div class="alertWidth">
  <div *ngIf="loginError" class="alert alert-danger alert-dismissable" role="alert">
    <span class="pficon pficon-error-circle-o"></span>
    <strong>Invalid!</strong> Please provide a vaid email and password!
  </div>
</div>
