.flexbox {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
.flexbutton{
  display: flex;
  justify-content: flex-end;
  width: 22em;
}
.alertWidth{
  width: 40em;
  padding-left: 2em;
}
.margin {
  margin: 1em;
}
